<div class="panel panel-info">
  <div class="panel-heading">
    <%if @notice.title%>
        <h3 class="panel-title"><%= @notice.title %></h3>
    <%else %>
        <h3 class="panel-title">New notice</h3>

    <%end%>
  </div>
  <div class="panel-body">
<%= form_with(model: notice, local: true) do |form| %>
  <% if notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% notice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :notice_title, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :text %>
    <%= form.text_field :text, id: :notice_text, class: 'form-control' %>
  </div>

  <div class="form-group">
    <span style="visibility: hidden"> <%= @kursevi = Course.all %> </span>
    <%= form.label :course_id %>
    <%= form.collection_select(:course_id, @kursevi, :id, :title, {}, {:class=>'form-control'})%>


  </div>
    <div style="visibility: hidden">

      <%= form.text_field :user_id, id: :notice_user_id ,value: session[:user_id]%>
    </div>

  <div class="actions">
    <%= form.submit class:'btn btn-primary'%>
  </div>
<% end %>
  </div>
</div>