<p id="notice"><%= notice %></p>

<h1>Obavještenja</h1>

<br>
<table class="table">
  <thead>
    <tr>
      <th>Naslov</th>
      <th>Tekst</th>
      <th>Korisnik</th>
      <th>Kurs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notices.each do |notice| %>
  <% if stavioObavijest?(session[:user_id], notice.course_id)%>
      <tr>
        <td><%= notice.title %></td>
        <td><%= notice.text %></td>
        <td>
          <% @c = User.where('id=?', notice.user_id) %>
          <%= @c.pluck(:name)[0] %>
          <%= @c.pluck(:lastname)[0] %>
        </td>
        <td>
          <% @c = Course.where('id=?', notice.course_id) %>
          <%= @c.pluck(:title)[0] %>
        </td>
        <td><%= link_to 'Prikaži', notice, class:'btn btn-primary btn-sm', style: 'color: white' %></td>
        <td><%= link_to 'Uredi', edit_notice_path(notice), class:'btn btn-primary btn-sm', style: 'color: white' %></td>
        <td><%= link_to 'Izbriši', notice, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm', style: 'color: white' %></td>
      </tr>
  <%end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo obavještenje', new_notice_path, class: 'btn btn-primary', style:'color:white' %>
