<p id="notice"><%= notice %></p>

<h1>Notices</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>User</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notices.each do |notice| %>
  <% if stavioObavijest?(session[:user_id], notice.course_id)%>
      <tr>
        <td><%= notice.title %></td>
        <td><%= notice.text %></td>
        <td><%= notice.user_id %></td>
        <td><%= notice.course_id %></td>
        <td><%= link_to 'Show', notice, class:'btn btn-primary btn-sm', style: 'color: white' %></td>
        <td><%= link_to 'Edit', edit_notice_path(notice), class:'btn btn-primary btn-sm', style: 'color: white' %></td>
        <td><%= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm', style: 'color: white' %></td>
      </tr>
  <%end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notice', new_notice_path, class: 'btn btn-primary', style:'color:white' %>
