<br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Naslov:</strong>
  <%= @notice.title %>
</p>

<p>
  <strong>Tekst:</strong>
  <%= @notice.text %>
</p>


<%= link_to 'Uredi', edit_notice_path(@notice) %> |
<%= link_to 'Prikaži sva obavještenja', notices_path %>
