<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @notice.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @notice.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @notice.user_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @notice.course_id %>
</p>

<%= link_to 'Uredi', edit_notice_path(@notice) %> |
<%= link_to 'Prikaži sva obavještenja', notices_path %>
