<div class="panel panel-info">
  <div class="panel-heading">
    <%if @user.name%>
    <h3 class="panel-title"><%= @user.name %> <%=@user.lastname %></h3>
        <%else %>
        <h3 class="panel-title">Novi korisnik</h3>

  <%end%>
  </div>
  <div class="panel-body">
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "greška") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">

  <div class="field">
    <%= form.label :'Korisničko ime' %>
    <%= form.text_field :username, id: :user_username, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :'Šifra' %>
    <%= form.text_field :password, id: :user_password, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :'Ime' %>
    <%= form.text_field :name, id: :user_name , class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :'Prezime' %>
    <%= form.text_field :lastname, id: :user_lastname, class: 'form-control' %>
  </div>


  <div class="field">
    <%= form.label :'Datum rođenja' %>
    <%= form.date_field :birthDate, id: :user_birthDate, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :'Adresa stanovanja'%>
    <%= form.text_field :address, id: :user_address , class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :'Mjesto rođenja' %>
    <%= form.text_field :birthplace, id: :user_birthplace, class: 'form-control' %>
  </div>


  <div class="field">
    <%= form.label :'Rola' %>
    <span style="visibility: hidden"> <%= @role = Role.all %> </span>
    <br>    <%= form.collection_select :role_id, @role, :id, :name, {},{prompt: "Select role", class:'form-control'} %>
  </div>

        <div class="actions">
      <%= form.submit 'Sačuvaj', class:'btn btn-primary' %>
    </div>
</div>
<% end %>
  </div>
</div>