<div class="panel panel-info">
  <div class="panel-heading">
    <%if @user.name%>
    <h3 class="panel-title"><%= @user.name %> <%=@user.lastname %></h3>
        <%else %>
        <h3 class="panel-title">New user</h3>

  <%end%>
  </div>
  <div class="panel-body">
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :user_username, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :user_password, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name , class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :user_lastname, class: 'form-control' %>
  </div>

    <%= form.label :birthDate %>
  <div class="form-control">

    <%= form.date_select :birthDate, id: :user_birthDate, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :user_address , class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :birthplace %>
    <%= form.text_field :birthplace, id: :user_birthplace, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.number_field :role_id, id: :user_role_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit  class:'btn btn-primary'%>
  </div>
</div>
<% end %>
  </div>
</div>