<p id="notice"><%= notice %></p>

<h2 class="bg-info" style="font-size: 30px">Detalji o studentima</h2>
<br>
<p>Indeks studenta: </p>
<%= form_tag(student_details_path, method: :get) do %>
    <%= text_field_tag :indeks, params[:indeks]%>
<br>
    <br>
    <%= submit_tag 'Pretraga', name: nil, class:'btn btn-primary' %>
<% end %>

<br>
<span style="visibility: hidden"><%= @current_user %> </span>
<table class="table">
  <thead>
    <tr>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Indeks</th>
      <th>Budžet</th>
      <th>Datum upisa</th>
      <th>Datum diplomiranja</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_details.each do |student_detail| %>
      <span style="visibility: hidden"><%= @student= User.find_by_id(student_detail.user_id) %> </span>
      <tr>
        <td><%= @student.name %></td>
        <td><%= @student.lastname %></td>
        <td><%= student_detail.indeks %></td>
        <td>
          <% if(student_detail.budget == '0')
               @rez='NE'
               else
               @rez='DA'
          end
          %>
          <%= @rez %>
        </td>
        <td><%= student_detail.enrollmentDate %></td>
        <td><%= student_detail.graduationDate %></td>
        <td><%= link_to 'Prikaži', student_detail, class: 'btn btn-primary', style: 'color:white' %></td>
        <td><%= link_to 'Uredi', edit_student_detail_path(student_detail), class: 'btn btn-primary', style: 'color:white' %></td>
        <td><%= link_to 'Izbriši', student_detail, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', style: 'color:white' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Dodaj novog studenta', new_student_detail_path ,class:'btn btn-primary', style: 'color:white' %>
