<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @student_detail.user %>
</p>

<p>
  <strong>Indeks:</strong>
  <%= @student_detail.indeks %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @student_detail.budget %>
</p>

<p>
  <strong>Enrollmentdate:</strong>
  <%= @student_detail.enrollmentDate %>
</p>

<p>
  <strong>Disrollmentdate:</strong>
  <%= @student_detail.disrollmentDate %>
</p>

<p>
  <strong>Graduationdate:</strong>
  <%= @student_detail.graduationDate %>
</p>

<%= link_to 'Edit', edit_student_detail_path(@student_detail) %> |
<%= link_to 'Back', student_details_path %>
