<p id="notice"><%= notice %></p>

<p>
  <strong>Korisnik:</strong>
  <%= @student_detail.user %>
</p>

<p>
  <strong>Indeks:</strong>
  <%= @student_detail.indeks %>
</p>

<p>
  <strong>Budžet:</strong>
  <%= @student_detail.budget %>
</p>

<p>
  <strong>Datum upisa:</strong>
  <%= @student_detail.enrollmentDate %>
</p>

<p>
  <strong>Datum ispisa:</strong>
  <%= @student_detail.disrollmentDate %>
</p>

<p>
  <strong>Datum diplomiranja:</strong>
  <%= @student_detail.graduationDate %>
</p>

<%= link_to 'Uredi', edit_student_detail_path(@student_detail) %> |
<%= link_to 'Prikaži detalje o svim studentima', student_details_path %>
