<div class="container">

  <h1> Studentska podstranica</h1>
  <div class="row">
      <div class="col-xs-3 col-md-3" style="text-align: center">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-user gi-5x"></span>
        <div class="caption">
          <a href=<%= user_path(current_user) %>><h3> Moj profil</h3></a>
        </div>
      </div>
    </div>

    <div class="col-xs-3 col-md-3" style="text-align: center">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-book gi-5x"></span>
        <div class="caption">
          <a href=<%= user_courses_path(current_user) %>><h3>Moji kursevi</h3></a>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3" style="text-align: center">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-file gi-5x"></span>
        <div class="caption">
          <a href="#"><h3>Zahtjev za uvjerenje</h3></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h1> Obavjestenja</h1>

    <div class="col-md-9 col-md-offset-0 ">
      <div class="panel-group">

        <% @notices.each do |notice| %>
            <% if slusaKurs?(session[:user_id], notice.course_id) %>
                <span style="visibility: hidden"> <%= @course= Course.find( notice.course_id) %> </span>
                <div class="col-md-6 col-md-offset-3">
                  <div class="panel panel-info">
                    <div class="panel-heading"><%= notice.title %>, Predmet: <%= @course.title%>, Datum: <%= notice.created_at%></div>
                    <div class="panel-body"> <%= notice.text %></div>
                  </div>
                </div>
            <% end %>

        <% end %>
      </div>
    </div>
</div>

</div>