<div class="container">

  <h1 class="bg-info">Zdravo, <%= @current_user.name %></h1>
  <br>

  <div class="row">
    <div class="col-xs-6 col-md-3" style="text-align: center">
      <div class="thumbnail shadow-depth-3">
        <br>
        <span class="glyphicon glyphicon-user gi-3x"></span>
        <div class="caption">
          <a href=<%= user_path(current_user) %>><h3> Moj profil</h3></a>
        </div>
      </div>
    </div>

<div class="col-xs-6 col-md-3" style="text-align: center">
  <div class="thumbnail shadow-depth-3">
    <br>
    <span class="glyphicon glyphicon-file gi-3x"></span>
    <div class="caption">
      <a href=<%= requests_path  %>><h3>Uvjerenja</h3></a>
    </div>
  </div>
</div>

<div class="col-xs-6 col-md-3" style="text-align: center">
  <div class="thumbnail shadow-depth-3">
    <br>
    <span class="glyphicon glyphicon-envelope gi-3x"></span>
    <div class="caption">
      <a href="#"><h3>Obavještenja</h3></a>
    </div>
  </div>
</div>

    <div class="col-xs-6 col-md-3" style="text-align: center">
      <div class="thumbnail shadow-depth-3">
        <br>
        <span class="glyphicon glyphicon-user gi-3x"></span>
        <div class="caption">
          <a href=<%= student_details_path %>><h3>Studenti</h3></a>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3" style="text-align: center">
      <div class="thumbnail shadow-depth-3">
        <br>
        <span class="glyphicon glyphicon-pencil gi-3x"></span>
        <div class="caption">
          <a href=<%= user_enrollments_path %>><h3>Upis</h3></a>
        </div>
      </div>
    </div>
</div>
</div>


