<% if @current_user.role_id.equal?(1) %>
    <%= render 'home/admin' %>
<% end %>
<% if @current_user.role_id.equal?(2) %>
    <%= render 'home/student' %>

    <% @courses.each do |c| %>
        <tr>
          <td><%= c.title %></td>
        </tr>
    <% end %>

<% end %>
<% if @current_user.role_id.equal?(3) %>
    <%= render 'home/studentska' %>
<% end %>
<% if @current_user.role_id.equal?(4) %>

    <%= render 'home/nastavno' %>

<% end %>