<p id="notice"><%= notice %></p>

<h1>Requests</h1>

<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>User</th>
      <th>Credential</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <span style="visibility: hidden"><%= @current = User.find(request.user_id)%></span>
      <% if StudentZahtjevi(session[:user_id], request.id)%>

      <tr>

        <td><%= status(request.id) %></td>

        <td><%= request.user_id %></td>
        <td><%= request.credential_id %></td>
        <td><%= link_to 'Show', request ,class:'btn btn-primary btn-sm', style: 'color: white'%></td>
        <td><%= link_to 'Edit', edit_request_path(request) ,class:'btn btn-primary btn-sm', style: 'color: white'%></td>
        <% if !rola?(session[:user_id])%>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger btn-sm', style: 'color: white'%></td>
            <%end%>
      </tr>

        <%end%>
  <%end%>
  </tbody>
</table>
<br>
<% if !rola?(session[:user_id])%>
<%= link_to 'New Request', new_request_path, class:'btn btn-primary', style: 'color: white'%>
  <%else %>
<br>
<%= link_to 'Statistika uvjerenja', employee_details_path ,class:'btn btn-primary', style: 'color: white'%>
<%end%>
<br>