<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<span style="visibility: hidden"><%=@current_user ||= User.find (@request.user_id)%></span>
<p>
  <strong>Student:</strong>
  <%= @current_user.name%>  <%= @current_user.lastname%>
</p>

<p>
  <strong>Svrha uvjerenja:</strong>
  <%= @request.credential_id %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
