<p id="notice"><%= notice %></p>

<p>
  <strong>Exam:</strong>
  <%= @exam_student.exam %>
</p>

<p>
  <strong>User:</strong>
  <%= @exam_student.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @exam_student.status %>
</p>

<%= link_to 'Uredi', edit_exam_student_path(@exam_student) %> |
<%= link_to 'Prikaži sve prijavljene ispite', exam_students_path %>
