<p id="notice"><%= notice %></p>
<span style="visibility: hidden">
<%= javascript_include_tag"//www.google.com/jsapi","chartkick" %>
<%= @zahtjevi = Request.all %>
</span>

<% if(@var1=='1') %>
    <% @request = [['Stipendija', Request.where(credential_id: 1).size], ['Zdravstveno osiguranje', Request.where(credential_id: 2).size], ['Pravo na prevoz', Request.where(credential_id: 3).size]]%>
    <h1>Statistika po tipovima uvjerenja</h1>
    <% if(@var2=='1') %>
    <%= pie_chart @request %>
     <% else %>
    <%= bar_chart @request %>
    <% end %>
<% end %>
<%if(@var1=='2') %>
    <% @request = [['Obraeno', Request.where(status: 1).size], ['Neobraeno', Request.where(status: 0).size]]%>
    <h1>Obraeni/neobraeni zahtjevi za uvjerenja</h1>
    <% if(@var2=='1') %>
        <%= pie_chart @request %>
    <% else %>
        <%= bar_chart @request %>
    <% end %>
<% end %>

