<p id="notice"><%= notice %></p>
<%= javascript_include_tag"//www.google.com/jsapi","chartkick" %>
<%= @zahtjevi = Request.all %>
<h1>Statistika</h1>
<%= @request = [['Obrađeno', Request.where(status: 1).size], ['Neobrađeno', Request.where(status: 0).size]]%>
<%= pie_chart @request %>

