<div class="panel panel-info">
  <div class="panel-heading">
    <%if @course.title%>
        <h3 class="panel-title"><%= @course.title %></h3>
    <%else %>
        <h3 class="panel-title">New course</h3>

    <%end%>
  </div>
  <div class="panel-body">
<%= form_for([@course.user, @course]) do |form| %>
    <% if @course.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@course.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @course.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title,  class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :code %>
      <%= form.text_field :code, class: 'form-control'%>
    </div>

    <div class="field">
      <%= form.label :responsible %>
      <%= form.text_field :responsible, class: 'form-control'%>
    </div>
        <div  style="visibility: hidden">
          <%= form.label :user %>
          <%= form.text_field :user, class: 'form-control', :value=>1%>
        </div>
    <div class="actions">
      <%= form.submit class:'btn btn-primary'%>
    </div>
<% end %>
  </div>
</div>