<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table class="table">
  <thead>
  <tr>
    <th>Naziv kursa</th>
    <th>Šifra kursa</th>
    <th>Odgovorni profesor</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <span style='visibility: hidden'><%= @current_user ||= User.find_by(id: session[:user_id]) if session[:user_id] %> </span>


      <% @courses.each do |course| %>
         <% if drziKurs?(session[:user_id], course.id)%>
          <tr>
            <td><%= course.title %></td>
            <td><%= course.code %></td>
            <td><%= @current_user.name %></td>

        <%if !@current_user.role_id.equal?(2)%>
                <td><%= link_to 'Show',user_course_path(course.user_id,course ) , class:'btn btn-primary btn-sm', style: 'color: white'%></td>
        <td><%= link_to 'Edit',edit_user_course_path(course.user_id,course)  ,class: 'btn btn-primary btn-sm', style: 'color: white' %></td>
        <td><%= link_to 'Destroy', user_course_path(course.user_id, course), method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger btn-sm', style: 'color: white'%></td>

            <%end%>

          </tr>
                <%end%>
      <% end %>
      </tbody>
      </table>

      <br>


