<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Code</th>
    <th>User</th>
    <th>Resposible</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.code %></td>
        <td><%= course.user_id %></td>
        <td><%= course.responsible %></td>


        <td><%= link_to 'Show',user_course_path(course.user_id,course ) , class:'btn btn-primary btn-sm', style: 'color: white'%></td>
        <td><%= link_to 'Edit',edit_user_course_path(course.user_id,course)  ,class: 'btn btn-primary btn-sm', style: 'color: white' %></td>
        <td><%= link_to 'Destroy', user_course_path(course.user_id, course), method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger btn-sm', style: 'color: white'%></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


