<p id="notice"><%= notice %></p>

<p>
  <strong>Naziv kursa:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Šifra kursa:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Odgovorni nastavnik:</strong>
  <%=
    @role = User.where('id=?', @course.responsible)
    @role.pluck(:name)[0]%>
  <%=@role.pluck(:lastname)[0]%>
</p>


<%= link_to 'Back', user_courses_path(@course.user) %>