<p id="notice"><%= notice %></p>

<p>
  <strong>Naziv kursa:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Šifra kursa:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Odgovorni nastavnik:</strong>
  <%= @course.responsible %>
</p>


<%= link_to 'Back', user_courses_path(@course.user) %>