<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>User:</strong>
  <%= @course.user %>
</p>


<%= link_to 'Back', user_courses_path(@course.user) %>
