<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <%if @exam.title%>
        <h3 class="panel-title"><%= @exam.title %></h3>
    <%else %>
        <h3 class="panel-title">Novi ispit</h3>

    <%end%>
  </div>
  <div class="panel-body">
<%= form_with(model: exam, local: true) do |form| %>
  <% if exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Naziv ispita" %>
    <%= form.text_field :title, id: :exam_title, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :"Datum ispita" %>
    <%= form.date_field :scheduled, id: :exam_scheduled, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :"Smjer" %>
    <%= form.text_field :course_department_id, id: :exam_course_department_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-primary', :value => "Kreiraj ispit" %>
  </div>
<% end %>
  </div>
</div>