<p id="notice"><%= notice %></p>

<br>
<h1></h1>

<br>
<table class="table">
  <thead>
    <tr>
      <th>Studijska godina</th>
      <th>Student</th>
      <th>Kurs</th>
      <th>Laboratorijska grupa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_enrollments.each do |user_enrollment| %>
      <tr>
        <td>
          <% @c = StudyYear.where('id=?', user_enrollment.study_year_id)%>
          <%= @c.pluck(:title)[0]%>
        </td>
        <td>
          <% @c = User.where('id=?', user_enrollment.user_id)%>
          <%= @c.pluck(:name)[0]%>
          <%= @c.pluck(:lastname)[0]%>
        </td>
        <td>
          <% @r = CourseDepartment.where('id=?', user_enrollment.course_department_id) %>
          <% @c = Course.where('id=?', @r.pluck(:course_id)[0])%>
          <%= @c.pluck(:title)[0]%>
        </td>
        <td>
          <% @c = LabGroup.where('id=?', user_enrollment.lab_group_id)%>
          <%= @c.pluck(:title)[0]%>
        </td>
        <td><%= link_to 'Prikaži', user_enrollment, class: 'btn btn-primary', style: 'color:white' %></td>
        <td><%= link_to 'Uredi', edit_user_enrollment_path(user_enrollment),class: 'btn btn-primary' ,style: 'color:white'%></td>
        <td><%= link_to 'Izbriši', user_enrollment, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger',style: 'color:white' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novi upis', new_user_enrollment_path, class:'btn btn-primary',style: 'color:white'%>
