<p id="notice"><%= notice %></p>

<p>
  <strong>Study year:</strong>
  <%= @user_enrollment.study_year_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_enrollment.user_id %>
</p>

<p>
  <strong>Course department:</strong>
  <%= @user_enrollment.course_department_id %>
</p>

<p>
  <strong>Lab group:</strong>
  <%= @user_enrollment.lab_group_id %>
</p>

<%= link_to 'Edit', edit_user_enrollment_path(@user_enrollment) %> |
<%= link_to 'Back', user_enrollments_path %>
