<!DOCTYPE html>
<html>
  <head>
    <title>UniversityManagementSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <% if logged_in? %>
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>

          <% else %>
              <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>

    <%= yield %>
  </body>
</html>
